<div class="phase-track select">
    <select name="adventure" id="adventure" [(ngModel)]="currentPhase">
        <option value="adventure">Adventure</option>
        <option value="camp">Camp</option>
        <option value="town">Town</option>
    </select>
</div>

<div class="adventure-phase" *ngIf="currentPhase == 'adventure'">
    <p>
        Adventure Phase Progress
    </p>
    <progress class="progress is-primary" value="{{phaseCount}}" max="4"></progress>

    <h4>Turn Counter</h4>
    <p class="control is-grouped">
        <button class="button is-large" (click)="decrementPhaseCounter()">-</button>
        <span class="button is-large">{{phaseCount}}</span>
        <button class="button is-large" (click)="incrementPhaseCounter()">+</button>
    </p>
</div>

<div class="camp-phase" *ngIf="currentPhase == 'camp'">
    <h3>Camp Settings</h3>
    <div class="control is-grouped">
        <div class="select" [(ngModel)]="campSafety">
            <select name="campSafety" id="campSafety">
            <option value="typical">Typical</option>
            <option value="unsafe">Unsafe</option>
            <option value="dangerous">Dangerous</option>
        </select>
        </div>
        <div class="select" [(ngModel)]="campLocation">
            <select name="campLocation" id="campLocation">
            <option value="wilderness">Wilderness</option>
            <option value="underground">Underground</option>
        </select>
        </div>
        <button class="button is-danger" (click)="rollCamp()">Roll</button>
    </div>
</div>

<h3>
    Ambient Light
</h3>

<div class="light-sources">

</div>