<div class="phase-track content container">
    <label for="adventure" class="label">
        Current Phase
    </label>
    <div class="select">
        <select name="adventure" id="adventure" [(ngModel)]="currentPhase">
            <option value="adventure">Adventure</option>
            <option value="camp">Camp</option>
            <option value="town">Town</option>
            <option value="winter">Winter</option>
        </select>
    </div>
</div>

<div class="adventure-phase container box" *ngIf="currentPhase == 'adventure'">
    <adventure-phase></adventure-phase>
</div>

<div class="camp-phase container box" *ngIf="currentPhase == 'camp'">
    <camp-phase></camp-phase>
</div>

<div class="town-phase container box" *ngIf="currentPhase == 'town'">
    <town-phase></town-phase>
</div>

<div class="winter-phase container box" *ngIf="currentPhase == 'winter'">
    <h3>Winter</h3>
</div>

<light-sources #light></light-sources>