<div class="phase-track content container">
    <label for="adventure" class="label">
        Current Phase
    </label>
    <div class="select">
        <select name="adventure" id="adventure" [(ngModel)]="currentPhase">
            <option value="adventure">Adventure</option>
            <option value="camp">Camp</option>
            <option value="town">Town</option>
            <option value="winter">Winter</option>
        </select>
    </div>
</div>

<div class="adventure-phase container box" *ngIf="currentPhase == 'adventure'">
    <h3>Adventure Phase</h3>
    <div class="columns">
        <div class="column is-one-third">
            <p>
                Adventure Phase Progress
            </p>
            <progress class="progress is-primary" value="{{phaseCount}}" max="4"></progress>
            <p class="control is-grouped">
                <button class="button is-medium" (click)="decrementPhaseCounter()">-</button>
                <span class="button is-medium">{{phaseCount}}</span>
                <button class="button is-medium" (click)="incrementPhaseCounter();">+</button>
            </p>
        </div>
    </div>
</div>

<div class="camp-phase container box" *ngIf="currentPhase == 'camp'">
    <camp-phase></camp-phase>
</div>

<div class="town-phase container box" *ngIf="currentPhase == 'town'">
    <h3>Town</h3>

    <p>Town Progress</p>
    <p>Current State: {{getTownPhaseName()}}</p>
     <progress class="progress is-primary" value="{{townPhaseId}}" max="6"></progress>

    <p class="control is-grouped">
        <button class="button is-medium" (click)="nextTownPhase()">Advance Phase</button>
    </p>
</div>

<div class="winter-phase container box" *ngIf="currentPhase == 'winter'">
    <h3>Winter</h3>
</div>

<light-sources #light></light-sources>